@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap');

body {
  background-color: white;
}

p {
  width: 600px;
  margin-left: 100px;
  font-family: 'PT Serif', serif;
  font-weight: 300;
  line-height: 26px;
  font-size: 18px;
  color: #322F2E;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 42px;
  margin-left: 100px;
  color: black;
  margin-top:10px;
}

.toptitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-left: 100px;
  color: black;
  text-transform: uppercase;
}

.textblock {
  margin-top: 150px;
}

img {
  display: inline-block;
  float: right;
  margin-right: 100px;
}

.primary {
  background-color: #a48662;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-transform: uppercase;
 text-decoration: none;
 display: inline-block;
 font-size: 14px;
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 margin-left: 100px;
 margin-top: 30px;
}

section {
  margin-top: 150px;
  margin-bottom: 150px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 30px;
  margin-left: 100px;
  color: black;
}

.textblock-2 {
  background-color: #f3f3f2;
  padding-top: 150px;
}
